.mainbar{
    /* border: 1px solid black; */
    width: 85%;
    /* background-image:linear-gradient(79deg,#7439db,#c66fbc 48%,#f7944d) ; */
    background-color: #F8F9FA;

    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow-y: scroll;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
.mainbar h1{
    text-align: center;
    text-decoration: underline;
    
}